<a id="logo" href="{{ .Site.BaseURL }}">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%"
    height="100%" viewBox="-0.5 -0.5 261 38"
    content="&lt;mxfile host=&quot;app.diagrams.net&quot; modified=&quot;2020-04-14T14:02:45.036Z&quot; agent=&quot;5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36&quot; etag=&quot;-4uG7sVoUR847m5LUDcQ&quot; version=&quot;12.9.12&quot; type=&quot;google&quot;&gt;&lt;diagram id=&quot;J7dCPz-sYAK0EW3AhyBm&quot; name=&quot;Page-1&quot;&gt;jZNNU4MwEIZ/DeOpMyVYWo9tbdVxevLgjLfYbCEaWAyhUH+9C1lK0emMXEie3U3e/UgQrbPmwcoi3aECE4ipaoLoPhBiEi7u6NeSkye381sPEquVR+EAXvQ3MJwyrbSCcuToEI3TxRjuMc9h70ZMWov12O2AZnxrIRP4A1720vylr1q51NOFmA/8EXSS9jeHMSecyd6ZMylTqbC+QNEmiNYW0flV1qzBtMXr6+LjtlesZ2EWcvefAC3Ch63dzeTuaJ+WH/Wbft5NuBlHaSpOOBCxofNWB6RjSbU7cSnirwp7w6TsGrUkh0gUzWDsOmHQjiICER267xLFSfuv0ZVVmeqbkiKNfrfSnnoFlIoX4V25imc9wkHT8tRlhkBISwukS753DlPay8qhV9qZpdFJTus9VQxI4uoI1mnq9ZINmVaqDV4VqHPXTc5sFczu26y1MWvOLMe8dSqdxU/4BS1WuQLFAri6dA00V9sWnoeBXhFgBq6twZQDFjHPDz+gOW/rYRpF75JeTGLETPIDSM4nDzNCCx6TfjuMY2e7eNTR5gc=&lt;/diagram&gt;&lt;/mxfile&gt;">
    <defs />
    <g>
      <rect x="0" y="4" width="260" height="30" fill="none" stroke="none" pointer-events="all" />
      <g transform="translate(-0.5 -0.5)">
        <switch>
          <foreignObject style="overflow: visible; text-align: left;" pointer-events="none" width="100%" height="100%"
            requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility">
            <div xmlns="http://www.w3.org/1999/xhtml"
              style="display: flex; align-items: unsafe center; justify-content: unsafe center; width: 1px; height: 1px; padding-top: 19px; margin-left: 130px;">
              <div style="box-sizing: border-box; font-size: 0; text-align: center; ">
                <div
                  style="display: inline-block; font-size: 12px; font-family: Helvetica; color: #000000; line-height: 1.2; pointer-events: all; white-space: nowrap; ">
                  <font style="font-size: 32px" color="#ffffff">wotsushi's library</font>
                </div>
              </div>
            </div>
          </foreignObject><text x="130" y="23" fill="#000000" font-family="Helvetica" font-size="12px"
            text-anchor="middle">wotsushi's library</text>
        </switch>
      </g>
    </g>
    <switch>
      <g requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" /><a transform="translate(0,-5)"
        xlink:href="https://desk.draw.io/support/solutions/articles/16000042487" target="_blank"><text
          text-anchor="middle" font-size="10px" x="50%" y="100%">Viewer does not support full SVG 1.1</text></a>
    </switch>
  </svg>

</a>